html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
.page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
.content {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  margin: auto;
}
.banner {
  margin-top: 5vh;
  width: 100%;
}
.banner__img {
  width: 100%;
}
.border {
  margin: 0;
  padding: 0.3em;
  border-style: solid;
  border-color: gray;
  border-width: 0 2px 2px 2px;
}
.buttons {
  display: flex;
}
.button {
  width: 100%;
  height: 4em;
  border: none;
  border-radius: 2px;
  color: white;
}
.button_color_teal {
  background-color: teal;
}
.button_color_blue {
  background-color: blue;
}
.button_color_red {
  background-color: red;
}
.button_filter_opacity {
  filter: opacity(0.5);
}
.point-limit__label {
  font-weight: bold;
}
.score-table__score {
  font-weight: bold;
  font-size: 3em;
}
.score_win {
  color: green;
}
.score_lose {
  color: red;
}
.h1 {
  font-weight: bolder;
}
.select {
  display: inline-flex;
  flex-direction: column;
  background-color: whitesmoke;
  border: gray solid 1px;
  width: 3em;
  border-radius: 2em;
}
